:root {
    --green-color: #61CE70;
}

body {
    background-color: black;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    padding: 2vw;
    font-size: 1rem;
}

a:visited {
    color: lightblue;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header-title {
    font-size: 2rem;
}

.header-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.green-color {
    color: var(--green-color);
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
}

.details-section {
    -webkit-appearance: none;
    padding: 15px 30px;
    margin: 50px 0;
    border-radius: 15px;
    box-shadow: 0 0 1.5rem rgba(97, 206, 112, 0.6);
}

.sidebar {
    border-radius: 15px;
    box-shadow: 0 0 1.5rem rgba(97, 206, 112, 0.6);
    margin: 50px 0
}

/*
.h1-inline {
    display: inline;
}

.green-color {
    color: #61CE70;
}

h2 {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -40px;
}

.container {
    padding-top: 25px;
}



*/
