body {
    background-color: black;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.h1-inline {
    display: inline;
}

.green-color {
    color: #61CE70;
}

h2 {
    margin: 0;
    padding: 0;
}
